/* # Guía de estilos Front-end

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colores

### Primarios

- Cyan fuerte: hsl(172, 67%, 45%)

### Neutrales

- Cyan muy oscuro: hsl(183, 100%, 15%)
- Cyan grisaseo oscuro: hsl(186, 14%, 43%)
- Cyan grisaseo: hsl(184, 14%, 56%)
- Cyan grisaseo claro: hsl(185, 41%, 84%)
- Cyan grisaseo muy claro: hsl(189, 41%, 97%)
- Blanco: hsl(0, 0%, 100%)

## Tipografía

### Cuerpo

- Font size (form inputs): 24px

### Fuente

- Family: [Space Mono](https://fonts.google.com/specimen/Space+Mono)
- Weights: 700 */

body{
    background: hsl(185, 41%, 84%);
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}



.container-row{
  max-width: 100%;
  margin: 0 auto;
  background: hsl(0, 0%, 100%);
}

.bg-grisaceo{
  background: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  border-radius: 15px;
}

button.btn-grisaceo{
  background: hsl(183, 100%, 15%);
  border: none;
  
}

button.btn-grisace{
  background: hsl(186, 14%, 43%);
  border: none;
 
}

i.bi-currency-dollar,
i.bi-person-fill{
  color: hsl(186, 14%, 43%);
}
span.bg-color{
  background: hsl(189, 41%, 97%);
}

input.bg-color{
  background: hsl(189, 41%, 97%);
}

@media only screen and (min-width: 375px) {
 
  .container-row{
    max-width: 80%;
    margin: 0 auto;
    background: hsl(0, 0%, 100%);
  }
  
}


@media only screen and (min-width: 800px) {
    body {
      background-color: rgb(253, 194, 0);
    }

    .container-row{
      max-width: 90%;
      margin: 0 auto;
     
    }
    
  }


  @media only screen and (min-width: 1200px) {
    body {
      background-color: rgb(0, 152, 253);
    }
    
  }

